@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h2 class="display-4">Генерация отчетов</h2>
    <p>@Html.ActionLink("Получить список продуктов блюда по его ID", "GetContentsOfDish")</p>
    <p>@Html.ActionLink("Получить список с полной стоимостью всех заказов за время работы", "GetTotalCosts")</p>

    <h2 class="display-4">Вывод данных из представлений</h2>
    <p>@Html.ActionLink("Полное меню ресторана", "GetRestaurantMenu")</p>
    <p>@Html.ActionLink("Полный список сотрудников", "GetEmployeesList")</p>
</div>

